---
import Footer from "../components/footer.svelte";
import Header from "../components/header.svelte";
import Error from "../components/error.svelte";
import '../assets/styles/base.css';
---
<!DOCTYPE html>
<html lang="en" class="dark:bg-slate-800 bg-sky-300">
	<Header />
	<body id="body" class="h-screen">
        <Error err={{type:"404",message:"Are you lost? Let me guide you back home. 😇"}} client:load/>
        <Footer/>
	</body>
</html>