---
import Footer from "../components/footer.svelte";
import Header from "../components/header.svelte";
import '../assets/styles/base.css'
import About from '../components/client/about.svelte'
import Navbar from "../components/client/navbar.svelte";
---



<!DOCTYPE html>
<html lang="en" class="dark:bg-slate-800 bg-sky-300">
	<Header />
	<body id="body" class="h-screen">
        <Navbar state={0} client:load/>
        <main class="w-screen h-screen">
            <About client:visible/>
        </main>
		<Footer/>
    </body>
</html>