---
import Footer from "../components/footer.svelte";
import Header from "../components/header.svelte";
//get query
---
<!-- Don't forget hydration: only load when needed. -->
<!DOCTYPE html>
<html lang="en" class="bg-slate-500">
	<Header />
	<body class="h-full">
        hello
		<Footer />
	</body>
</html>
