---
import Footer from "../components/footer.svelte";
import Header from "../components/header.svelte";
import '../assets/styles/base.css'
import Navbar from "../components/client/navbar.svelte";
import Contact from "../components/client/contact.svelte";
---
<!DOCTYPE html>
<html lang="en" class="dark:bg-slate-800 bg-sky-300">
	<Header />
	<body id="body" class="h-screen">
        <Navbar state={3} client:load/>
        <main class="w-screen h-screen">
            <Contact client:visible/>
        </main>
        <Footer/>
    </body>
</html>