---
import Footer from "../components/footer.svelte";
import Header from "../components/header.svelte";
import Navbar from "../components/client/navbar.svelte";
import Docs from "../components/client/docs.svelte";
import '../assets/styles/base.css'
---

<!DOCTYPE html>
<html lang="en" class="dark:bg-slate-800 bg-sky-300">
	<Header />
    <body id="body" class="h-screen">
        <Navbar state={1} client:load/>
        <main class="w-screen h-screen">
            <Docs client:visible/>
        </main>
        <Footer/>
    </body>
</html>