---
import Footer from '../components/footer.svelte';
import Header from '../components/header.svelte';
import '../assets/styles/base.css';
import Router from '../components/router.svelte';

const api:string = import.meta.env.API
const http:string = import.meta.env.API_HTTP
const port:string = import.meta.env.API_PORT
// Testing deployment mode
const addr = `${http}://${(port !== undefined)?`${api}:${port}`:api}/v1/ping`
---
<!DOCTYPE html>
<html lang="en" class="dark:bg-slate-800 bg-sky-300">
	<Header />
    <body>
        <Router addr={addr} client:load />
        <Footer/>
    </body>
</html>
