---
import Footer from "../components/footer.svelte";
import Header from "../components/header.svelte";
import Admin from "../components/views/admin.svelte";
---
<!-- Don't forget hydration: only load when needed. -->
<!DOCTYPE html>
<html lang="en" class="bg-slate-800">
	<Header />
	<body class="h-full">
		<Admin client:load/>
		<Footer />
	</body>
</html>
