---
import Footer from "../components/footer.svelte";
import Header from "../components/header.svelte";
import Admin from "../components/views/admin.svelte";
import '../assets/styles/base.css';
---
<!-- Don't forget hydration: only load when needed. -->
<!DOCTYPE html>
<html lang="en" class="dark:bg-slate-800 bg-sky-300">
	<Header />
	<body class="h-full">
		<Admin client:load/>
		<Footer />
	</body>
</html>
